---
const { chart } = Astro.props;
---
<div class="mermaid-container">
  <div class="mermaid">{chart}</div>
</div>

<script>
  import mermaid from "mermaid";

  const getTheme = () => (localStorage.getItem("theme") === "dark" ? "dark" : "forest");

  const renderMermaid = () => {
    mermaid.initialize({
      startOnLoad: false,
      theme: getTheme(),
    });

    const mermaidElements = document.querySelectorAll<HTMLElement>(".mermaid");
    
    mermaidElements.forEach(el => {
      el.removeAttribute("data-processed");
      el.innerHTML = el.textContent || "";
    });

    mermaid.run({
      nodes: Array.from(mermaidElements),
    });
  };

  document.addEventListener("astro:page-load", renderMermaid);
  window.addEventListener("storage", e => {
    if (e.key === "theme") {
      renderMermaid();
    }
  });
</script>

<style>
.mermaid-container {
  @apply overflow-x-auto my-4 p-4 rounded-lg;
  background-color: var(--card-bg);
}
</style>